<!DOCTYPE html>
<html lang="en">
<head>
    <title>Stock</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--bootstrap, angular, jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>

    <!--css style-->
    <style>
        body, p{
            margin: 0;
        }
        body{
            background-color: darkblue;
        }
        #search_form, #result_form, #stockDetail{
            background-color: white;
            margin-top:10px;
            border-radius: 5px;
        }
        h4{
            text-align: center;
            margin-top: 25px;
        }
        .required_mark{
            color: red;
        }
        #input_div{
            margin-bottom: 25px;
        }
        input.ng-touched.ng-empty {
            border: 2px solid red;
        }
        #btn_clear{
            margin-left: 10px;
        }
        .line{
            padding: 0;
        }
        #symbol_list{
            cursor:pointer;
            border: none;
        }
        #symbol_list:hover
        {
            background-color:#f9f9f9;
        }
        #fa_list, #detail_panel, #stock_table, #cs_right_chart{
            margin-top: 25px;
        }
        #list_title{
            font-weight: bold;
        }
        #right_cor{
            margin-left: 66%;
        }
        #sortSelect, #orderSelect{
            background-color: white;
            margin-left:30px;
            height: 30px;
            width:18%;
        }
        #fa_content{
            margin-top: 20px;
        }
        #cs_left{
            width: 55%;
            margin-right: -40px;
        }
        #detail_title{
            font-weight: bold;
            margin-left: 40%;
        }
        .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
            padding-top:20px;
            padding-bottom: 20px;
        }
        #left_title{
            margin-left: 25px;
            font-weight: bold;
        }
        #star{
            height: 40px;
            width: 44px;
            margin-left: 47%;
        }
        #fb{
            height: 40px;
            width: 44px;
        }
        #cs_right, #cs_right_chart{
            width: 48%;
        }
        #detail_panel{
            display: none;
        }
        .fa_symbol{
            text-decoration: underline;
            cursor: pointer;
            color: blue;
        }
    </style>
</head>
<body ng-app="myapp" ng-controller="usercontroller" background="http://cs-server.usc.edu:45678/hw/hw8/images/background.png">

<div class="container" id="search_form">
    <h4>Stock Market Search</h4>
    <form class="form-horizontal" id="myForm" name="myForm" method="post" novalidate>
        <div class="form-group" >
            <label class="col-sm-3" for="symbol" id="symbol_label">Enter Stock Ticker Symbol: <span class="required_mark">*</span></label>
            <div class="col-md-6" id="input_div"  >
                <input class="form-control" id="symbol" placeholder="e.g. AAPL" name="symbol" ng-model="symbol" required ng-keyup="complete(symbol)">
                <ul class="list-group" ng-model="hidethis" ng-hide="hidethis">
                    <li class="list-group-item" id="symbol_list" ng-repeat="symboldata in filterSymbol" ng-click="fillTextbox(symboldata)">{{symboldata}}</li>
                </ul>
                <p id="error_message" ng-show="myForm.symbol.$touched && myForm.symbol.$invalid">Please enter a stock ticker symbol.</p>
            </div>
            <div class="col-md-3">
                <button  class="btn btn-primary pull-left" id="btn_search" ng-disabled="myForm.symbol.$invalid"><span class="glyphicon glyphicon-search"></span> Get Quote</button>
                <button class="btn btn-default" id="btn_clear" data-ng-click="clearSearch()"><span class="glyphicon glyphicon-refresh"></span> Clear</button>
            </div>
        </div>
    </form>
</div>
<div class="container line">
    <hr/>
</div>

<div class="container" id="result_form">
    <div class="panel panel-default" id="fa_list">
        <div class="panel-heading">
            <span id="list_title">Favorite List</span>
            <span id="right_cor">
                <span  id="refresh">Automatic Refresh: </span>
                <input type="checkbox" id="auto_ref" data-toggle="toggle"/>
                <button class="btn btn-default" id="btn_refresh"><span class="glyphicon glyphicon-refresh"></span></button>
                <button class="btn btn-default" id="btn_next"><span class="glyphicon glyphicon-chevron-right"></span></button>
            </span>
        </div>
        <div class="panel-body">
            <div id="sort">
                <span style="margin-left: 20px;"><b>Sort by</b></span>
                <span>
                    <select id="sortSelect">
                        <option>Default</option>
                        <option>Symbol</option>
                        <option>Price</option>
                        <option>Change</option>
                        <option>Change Percent</option>
                        <option>Volume</option>
                    </select>
                </span>
                <span style="margin-left: 70px;"><b>Order</b></span>
                <span>
                    <select disabled="true" id="orderSelect" style="background-color: #efefef;">
                        <option>Ascending</option>
                        <option>Descending</option>
                    </select>
                </span>
            </div>

            <table id="fa_content" class="table table-striped">
                <tbody class="tbody1">
                <tr>
                    <th class="col-sm-1">Symbol</th>
                    <th class="col-sm-1">Stock Price</th>
                    <th class="col-md-2">Change (Change Percent)</th>
                    <th class="col-sm-1">Volume</th>
                    <th class="col-sm-1"></th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container" id="stockDetail">
    <div class="panel panel-default" id="detail_panel">
        <div class="panel-heading">
            <span id="left_cor">
                <button class="btn btn-default" id="btn_last"><span class="glyphicon glyphicon-chevron-left"></span></button>
            </span>
            <span id="detail_title">Stock Details</span>
        </div>
        <div class="panel-body">
            <ul class="nav nav-pills">
                <li class="active detail_pill"><a href="" id="c_stock"><span class="glyphicon glyphicon-time"></span>&nbsp Current Stock</a></li>
                <li class="detail_pill"><a href="" id="h_charts"><span class="glyphicon glyphicon-stats"></span>&nbsp Historical Charts</a></li>
                <li class="detail_pill"><a href="" id="n_feeds"><span class="glyphicon glyphicon-link"></span>&nbsp News Feeds</a></li>
            </ul>
            <hr/>
            <div id="cur_stock">
                <div id="cs_left" class="pull-left">
                    <p id="left_title">Stock Details
                    <button class="btn btn-default" id="star">
                        <i class="fa fa-star-o" id="fa_icon" style="font-size:20px"></i>
                    </button>
                    <button class="btn btn-default" id="fb">
                        <img src="http://cs-server.usc.edu:45678/hw/hw8/images/facebook.png" height="25" width="25"/>
                    </button>
                    </p>
                    <div id="stock_table">
                        <div class="progress" style="width: 80%;">
                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="cs_right" class="pull-right">
                    <ul class="nav nav-tabs"><li class="active"><a class="stock_list" id='price'>Price</a></li>
                    <li><a class="stock_list" id='SMA'>SMA</a></li>
                    <li><a class="stock_list" id='EMA'>EMA</a></li>
                    <li><a class="stock_list" id='STOCH'>STOCH</a></li>
                    <li><a class="stock_list" id='RSI'>RSI</a></li>
                    <li><a class="stock_list" id='ADX'>ADX</a></li>
                    <li><a class="stock_list" id='CCI'>CCI</a></li>
                    <li><a class="stock_list" id='BBANDS'>BBANDS</a></li>
                    <li><a class="stock_list" id='MACD'>MACD</a></li></ul>
                </div>
                <div id="cs_right_chart" class="pull-right">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                        </div>
                    </div>
                </div>
            </div>
            <div id="cur_stock2" style="display: none;">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script>
    $(document).ready(function(){
        $('#btn_clear').click(function(){
            $("#symbol").val('');
            $("#detail_panel").css("display", "none");
            $("#fa_list").effect('slide', { direction: 'right', mode: 'show' },500);
        });
    });
    $("#sortSelect").change(function() {
        if(this.value !== "Default"){
            $("#orderSelect").removeAttr("disabled");
            $("#orderSelect").css("background-color","white");
            if(this.value === "Symbol"){
                if($("#orderSelect").val() === "Ascending"){
                    ascSortSymbol();
                }else{
                    descSortSymbol();
                }
            } else if(this.value === "Price"){
                if($("#orderSelect").val() === "Ascending"){
                    ascSortPrice();
                }else{
                    descSortPrice();
                }
            } else if(this.value === "Change"){
                if($("#orderSelect").val() === "Ascending"){
                    ascSortChange();
                }else{
                    descSortChange();
                }
            } else if(this.value === "Change Percent"){
                if($("#orderSelect").val() === "Ascending"){
                    ascSortPercent();
                }else{
                    descSortPercent();
                }
            } else if(this.value === "Volume"){
                if($("#orderSelect").val() === "Ascending"){
                    ascSortVolume();
                }else{
                    descSortVolume();
                }
            }
        }else {
            $("#orderSelect").attr("disabled",true);
            $("#orderSelect").css("background-color","#efefef");
        }
    });
    $("#orderSelect").change(function() {
        if(this.value === "Ascending"){
            if($("#sortSelect").val() === "Symbol"){
                ascSortSymbol();
            } else if($("#sortSelect").val() === "Price"){
                ascSortPrice();
            } else if($("#sortSelect").val() === "Change"){
                ascSortChange();
            } else if($("#sortSelect").val() === "Change Percent"){
                ascSortPercent();
            } else if($("#sortSelect").val() === "Volume"){
                ascSortVolume();
            }
        }else {
            if($("#sortSelect").val() === "Symbol"){
                descSortSymbol();
            } else if($("#sortSelect").val() === "Price"){
                descSortPrice();
            } else if($("#sortSelect").val() === "Change"){
                descSortChange();
            } else if($("#sortSelect").val() === "Change Percent"){
                descSortPercent();
            } else if($("#sortSelect").val() === "Volume"){
                descSortVolume();
            }
        }
    });

    $('#btn_search').click(function(){
        $("#fa_list").css("display", "none");
        $('#detail_panel').effect('slide', { direction: 'left', mode: 'show' },500);
        $("#cur_stock2").css("display", "none");
        $("#cur_stock").show();
        $("#c_stock").parent().addClass('active').siblings().removeClass('active');
        $("#price").parent().addClass('active').siblings().removeClass('active');

        var html1 = "<div class=\"progress\" style='width: 80%;'><div class=\"progress-bar progress-bar-striped active\" role=\"progressbar\" aria-valuenow=\"50\" aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width:50%\"></div></div>";
        var html2 = "<div class=\"progress\"><div class=\"progress-bar progress-bar-striped active\" role=\"progressbar\" aria-valuenow=\"50\" aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width:50%\"></div></div>";
        $("#stock_table").html(html1);
        $("#cs_right_chart").html(html2);

        var symbol = $("#symbol").val();
        var url = url_stock + symbol+ myAPI_stock;
        showStar();
        $.ajax({
            'url': url,
            'type': "GET",
            'success': function(data) {
                if(data["Error Message"]){
                    var message1 = errorMessage("Error! Failed to get current stock data.", "width:80%; margin-top:66px;");
                    var message2 = errorMessage("Error! Failed to get Price data.", "width:90%;");
                    $("#stock_table").html(message1);
                    $("#cs_right_chart").html(message2);
                }
                searchValue(data,symbol);
                draw(data,symbol);
            },
            'error': function(xhr, status) {
                var message1 = errorMessage("Error! Failed to get current stock data.", "width:80%; margin-top:66px;");
                var message2 = errorMessage("Error! Failed to get Price data.", "width:90%;");
                $("#stock_table").html(message1);
                $("#cs_right_chart").html(message2);
            }
        });
    });

    $("#price").click(function () {
        var symbol = $("#s_ticker").text();
        var html = "<div class=\"progress\"><div class=\"progress-bar progress-bar-striped active\" role=\"progressbar\" aria-valuenow=\"50\" aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width:50%\"></div></div>";
        $("#cs_right_chart").html(html);
        showGraph(symbol);
    });
    $("#SMA").click(function () {
        var symbol = $("#s_ticker").text();
        var html = "<div class=\"progress\"><div class=\"progress-bar progress-bar-striped active\" role=\"progressbar\" aria-valuenow=\"50\" aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width:50%\"></div></div>";
        $("#cs_right_chart").html(html);
        showGraph1(symbol,"SMA");
    });
    $("#EMA").click(function () {
        var symbol = $("#s_ticker").text();
        var html = "<div class=\"progress\"><div class=\"progress-bar progress-bar-striped active\" role=\"progressbar\" aria-valuenow=\"50\" aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width:50%\"></div></div>";
        $("#cs_right_chart").html(html);
        showGraph1(symbol,"EMA");
    });
    $("#STOCH").click(function () {
        var symbol = $("#s_ticker").text();
        var html = "<div class=\"progress\"><div class=\"progress-bar progress-bar-striped active\" role=\"progressbar\" aria-valuenow=\"50\" aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width:50%\"></div></div>";
        $("#cs_right_chart").html(html);
        showGraph2(symbol,"STOCH");
    });
    $("#RSI").click(function () {
        var symbol = $("#s_ticker").text();
        var html = "<div class=\"progress\"><div class=\"progress-bar progress-bar-striped active\" role=\"progressbar\" aria-valuenow=\"50\" aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width:50%\"></div></div>";
        $("#cs_right_chart").html(html);
        showGraph1(symbol,"RSI");
    });
    $("#ADX").click(function () {
        var symbol = $("#s_ticker").text();
        var html = "<div class=\"progress\"><div class=\"progress-bar progress-bar-striped active\" role=\"progressbar\" aria-valuenow=\"50\" aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width:50%\"></div></div>";
        $("#cs_right_chart").html(html);
        showGraph1(symbol,"ADX");
    });
    $("#CCI").click(function () {
        var symbol = $("#s_ticker").text();
        var html = "<div class=\"progress\"><div class=\"progress-bar progress-bar-striped active\" role=\"progressbar\" aria-valuenow=\"50\" aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width:50%\"></div></div>";
        $("#cs_right_chart").html(html);
        showGraph1(symbol,"CCI");
    });
    $("#BBANDS").click(function () {
        var symbol = $("#s_ticker").text();
        var html = "<div class=\"progress\"><div class=\"progress-bar progress-bar-striped active\" role=\"progressbar\" aria-valuenow=\"50\" aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width:50%\"></div></div>";
        $("#cs_right_chart").html(html);
        showGraph3(symbol,"BBANDS");
    });
    $("#MACD").click(function () {
        var symbol = $("#s_ticker").text();
        var html = "<div class=\"progress\"><div class=\"progress-bar progress-bar-striped active\" role=\"progressbar\" aria-valuenow=\"50\" aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width:50%\"></div></div>";
        $("#cs_right_chart").html(html);
        showGraph3(symbol,"MACD");
    });
    $('ul.nav.nav-tabs li a').click(function() {
        $(this).parent().addClass('active').siblings().removeClass('active');
    });
    $(".stock_list").click(function () {
        var symbol = $("#s_ticker").text();
        var message = errorMessage("Error! Failed to get data.", "width:90%;");
        if(symbol === ""){
            $("#cs_right_chart").html(message);
        }
    });


    $('ul.nav.nav-pills li a').click(function() {
        $(this).parent().addClass('active').siblings().removeClass('active');
    });

    $("#btn_next").click(function () {
        $("#fa_list").css("display", "none");
        $('#detail_panel').effect('slide', { direction: 'left', mode: 'show' },500);
        showStar();
    });
    $("#btn_last").click(function () {
        $("#detail_panel").css("display", "none");
        $("#fa_list").effect('slide', { direction: 'right', mode: 'show' },500);
        $(".trash").click(function () {
            $(this).parents('tr').first().remove();
        });
        $(".fa_symbol").click(function () {
            var html1 = "<div class=\"progress\" style='width: 80%;'><div class=\"progress-bar progress-bar-striped active\" role=\"progressbar\" aria-valuenow=\"50\" aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width:50%\"></div></div>";
            var html2 = "<div class=\"progress\"><div class=\"progress-bar progress-bar-striped active\" role=\"progressbar\" aria-valuenow=\"50\" aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width:50%\"></div></div>";
            $("#stock_table").html(html1);
            $("#cs_right_chart").html(html2);
            
            var s = $(this).text();
            $("#fa_list").css("display", "none");
            $('#detail_panel').effect('slide', { direction: 'left', mode: 'show' },500);
            $("#cur_stock2").css("display", "none");
            $("#cur_stock").show();
            $("#c_stock").parent().addClass('active').siblings().removeClass('active');
            $("#price").parent().addClass('active').siblings().removeClass('active');
            $("#fa_icon").css({"color": "yellow"}).removeClass('fa-star-o').addClass('fa-star');
            var url = url_stock + s+ myAPI_stock;
            $.ajax({
                'url': url,
                'type': "GET",
                'success': function(data) {
                    searchValue(data,s);
                    draw(data,s);
                }
            });
        });
    });

    $("#c_stock").click(function () {
        $("#cur_stock2").css("display", "none");
        $("#cur_stock").show();
        //showStock();
//        var symbol = $(".highcharts-title").text().substr(0, $(".highcharts-title").text().indexOf(' '));
        //$("#btn_search").click();
    });
    $("#h_charts").click(function () {
        $("#cur_stock").hide();
        $("#cur_stock2").css("display", "block");
        var symbol = $("#s_ticker").text();
        if(symbol === ""){
            var message = errorMessage("Error! Failed to get historical charts data.", "");
            $("#cur_stock2").html(message);
        }
        var html = "<div class=\"progress\"><div class=\"progress-bar progress-bar-striped active\" role=\"progressbar\" aria-valuenow=\"50\" aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width:50%\"></div></div>";
        $("#cur_stock2").html(html);
        showStockChart(symbol);
    });

    $("#n_feeds").click(function () {
        var symbol = $("#s_ticker").text();
        showFeeds(symbol);
    });

    $("#btn_refresh").click(function () {
        for (var i = 0; i < $(".fa_symbol").length; i++) {
            var s = $(".fa_symbol")[i].innerText;
            var url = url_stock + s+ myAPI_stock;
            $.ajax({
                'url': url,
                'type': "GET",
                'success': function(data){
                    var obj0 = data["Meta Data"];
                    var obj1 = data["Time Series (Daily)"];
                    var symbol = obj0["2. Symbol"];
                    var recentDay = getAttributeByIndex(obj1, 0);
                    var close = recentDay["4. close"];
                    close = Number(close).toFixed(2);
                    var volume = formatNumber(Number(recentDay["5. volume"]));
                    var previousDay = getAttributeByIndex(obj1, 1);
                    var previous_close = previousDay["4. close"];
                    previous_close = Number(previous_close).toFixed(2);

                    for(var j = 0; j < $(".fa_symbol").length; j++){
                        if(symbol === $(".fa_symbol")[j].innerText){
                            $(".fa_price")[j].innerText = close;
                            $(".fa_volume")[j].innerText = volume;
//                            console.log(j+ " " + symbol + " " + volume);
                            var change, html;
                            if(close > previous_close){
                                change = close - previous_close;
                                var percent = 100 * change / previous_close;
                                html = change.toFixed(2);
                                html += " (" + percent.toFixed(2) + "%)";
                                html += "<img src=\"http://cs-server.usc.edu:45678/hw/hw6/images/Green_Arrow_Up.png\" height=18 width=18/>";
                            }else {
                                change = previous_close - close;
                                var percent = 100 * change / previous_close;
                                html = change.toFixed(2);
                                html += " (" + percent.toFixed(2) + "%)";
                                html += "<img src=\"http://cs-server.usc.edu:45678/hw/hw6/images/Red_Arrow_Down.png\" height=18 width=18/>";
                            }
                            $(".fa_change")[j].innerHTML = html;
                        }
                    }
                }
            });
        }
    });
    $('#auto_ref').on('change', function () {
        setInterval(function(){ refresh() }, 5000);
    });
    function refresh() {
        if($('#auto_ref').is(':checked')){
            $("#btn_refresh").click();
        }
    }

    function errorMessage(message, style){
        var html = "<div class=\"alert alert-danger\" style='" + style +"'>";
        html += message;
        html += "</div>";
        return html
    }

//    var html = "<div class=\"progress\"><div class=\"progress-bar progress-bar-striped active\" role=\"progressbar\" aria-valuenow=\"50\" aria-valuemin=\"0\" aria-valuemax=\"100\" style=\"width:50%\"></div></div>";
    function ascSortSymbol() {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("fa_content");
        switching = true;

        while (switching) {
            switching = false;
            rows = table.getElementsByTagName("TR");

            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[0];
                y = rows[i + 1].getElementsByTagName("TD")[0];

                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                    shouldSwitch= true;
                    break;
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }
    }
    function descSortSymbol() {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("fa_content");
        switching = true;

        while (switching) {
            switching = false;
            rows = table.getElementsByTagName("TR");

            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[0];
                y = rows[i + 1].getElementsByTagName("TD")[0];

                if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                    shouldSwitch= true;
                    break;
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }
    }
    function ascSortPrice() {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("fa_content");
        switching = true;
        while (switching) {
            switching = false;
            rows = table.getElementsByTagName("TR");

            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[1];
                y = rows[i + 1].getElementsByTagName("TD")[1];

                if (Number(x.innerHTML) > Number(y.innerHTML)) {
                    shouldSwitch= true;
                    break;
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }
    }
    function descSortPrice() {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("fa_content");
        switching = true;

        while (switching) {
            switching = false;
            rows = table.getElementsByTagName("TR");

            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[1];
                y = rows[i + 1].getElementsByTagName("TD")[1];

                if (Number(x.innerHTML) < Number(y.innerHTML)) {
                    shouldSwitch= true;
                    break;
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }
    }
    function ascSortChange() {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("fa_content");
        switching = true;
        while (switching) {
            switching = false;
            rows = table.getElementsByTagName("TR");

            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[2];
                y = rows[i + 1].getElementsByTagName("TD")[2];

                var a = x.innerHTML;
                a = a.substr(0, a.indexOf(' '));
                var b = y.innerHTML;
                b = b.substr(0, b.indexOf(' '));

                if (Number(a) > Number(b)) {
                    shouldSwitch= true;
                    break;
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }
    }
    function descSortChange() {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("fa_content");
        switching = true;

        while (switching) {
            switching = false;
            rows = table.getElementsByTagName("TR");

            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[2];
                y = rows[i + 1].getElementsByTagName("TD")[2];

                var a = x.innerHTML;
                a = a.substr(0, a.indexOf(' '));
                var b = y.innerHTML;
                b = b.substr(0, b.indexOf(' '));

                if (Number(a) < Number(b)) {

                    shouldSwitch= true;
                    break;
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }
    }
    function ascSortPercent() {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("fa_content");
        switching = true;
        while (switching) {
            switching = false;
            rows = table.getElementsByTagName("TR");

            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[2];
                y = rows[i + 1].getElementsByTagName("TD")[2];

                var a = x.innerHTML;
                a = a.substring(a.indexOf('(') + 1, a.indexOf('%'));
                var b = y.innerHTML;
                b = b.substring(b.indexOf('(') + 1, b.indexOf('%'));

                if (Number(a) > Number(b)) {
                    shouldSwitch= true;
                    break;
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }
    }
    function descSortPercent() {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("fa_content");
        switching = true;

        while (switching) {
            switching = false;
            rows = table.getElementsByTagName("TR");

            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[2];
                y = rows[i + 1].getElementsByTagName("TD")[2];

                var a = x.innerHTML;
                a = a.substring(a.indexOf('(') + 1, a.indexOf('%'));
                var b = y.innerHTML;
                b = b.substring(b.indexOf('(') + 1, b.indexOf('%'));
                if (Number(a) < Number(b)) {

                    shouldSwitch= true;
                    break;
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }
    }
    function ascSortVolume() {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("fa_content");
        switching = true;
        while (switching) {
            switching = false;
            rows = table.getElementsByTagName("TR");

            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[3];
                y = rows[i + 1].getElementsByTagName("TD")[3];

                var a = x.innerHTML;
                a = Number(a.split(",").join(""));
                var b = y.innerHTML;
                b = Number(b.split(",").join(""));

                if (Number(a) > Number(b)) {
                    shouldSwitch= true;
                    break;
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }
    }
    function descSortVolume() {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("fa_content");
        switching = true;

        while (switching) {
            switching = false;
            rows = table.getElementsByTagName("TR");

            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[3];
                y = rows[i + 1].getElementsByTagName("TD")[3];

                var a = x.innerHTML;
                a = Number(a.split(",").join(""));
                var b = y.innerHTML;
                b = Number(b.split(",").join(""));
                if (Number(a) < Number(b)) {

                    shouldSwitch= true;
                    break;
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }
    }

    function showStar() {
        var symbol = $("#symbol").val();
        var star = 0;
        for (var i = 0; i < $(".fa_symbol").length; i++) {
            var s = $(".fa_symbol")[i].innerText;
            if(s === symbol){
                $("#fa_icon").css({"color": "yellow"}).removeClass('fa-star-o').addClass('fa-star');
                star = 1;
            }
        }
        if(star === 0){
            $("#fa_icon").css({"color": "black"}).removeClass('fa-star').addClass('fa-star-o');
        }
    }
    function clickStar(){
        $("#star").click(function(){
            var symbol = $("#s_ticker").text();
            var lastPrice = $("#last_price").text();
            var change = $("#change").text();
            var volume = $("#volume").text();
            var faID = "newFA" + symbol;
            if($("#fa_icon").hasClass("fa-star-o")){
                $("#fa_icon").css({"color": "yellow"}).removeClass('fa-star-o').addClass('fa-star');
                var html = "<tr id='"+faID+"'><td class='fa_symbol'>" + symbol + "</td>";
                html += "<td class='fa_price'>"+ lastPrice +"</td>";
                html += "<td class='fa_change'>"+ change;
                if(change.substring(0,1) !== "-"){
                    html += "<img src=\"http://cs-server.usc.edu:45678/hw/hw6/images/Green_Arrow_Up.png\" height=18 width=18/>" +"</td>";
                }else {
                    html += "<img src=\"http://cs-server.usc.edu:45678/hw/hw6/images/Red_Arrow_Down.png\" height=18 width=18/>" +"</td>";
                }
                html += "<td class='fa_volume'>"+ volume +"</td>";
                html += "<td class='col-md-1'><button class=\"btn btn-default trash\">";
                html += "<i class=\"fa fa-trash-o\" style=\"font-size:20px\"></i></button></td></tr>";

                $(".tbody1").append(html);
            }else {
                $("#fa_icon").css({"color": "black"}).removeClass('fa-star').addClass('fa-star-o');
                $("#" + faID).remove();
                //$("#fa_content tr:last").remove();
            }
        });
    }

    var url_stock = "https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=";
    var myAPI_stock = "&apikey=OE0QXT6U0BKFHVV8";
    var inputDate = Date.now() - 24 * 3600000 * 179;
//    var symbol = $("#symbol").val();
    clickStar();

    function searchValue(data,symbol) {
        //var obj0 = data["Meta Data"];
        var obj1 = data["Time Series (Daily)"];
        var recentDay = getAttributeByIndex(obj1, 0);
        var previousDay = getAttributeByIndex(obj1, 1);
        var previous_close = previousDay["4. close"];
        previous_close = Number(previous_close).toFixed(2);

        var html = "<table class=\"table table-striped\" style='width:85%'><tr><th class=\"col-md-6\">Stock Ticker Symbol</th><td id='s_ticker'>";
        html += symbol;
        html += "</td></tr>";

        html += "<tr><th>Last Price</th><td id='last_price'>";
        var close = recentDay["4. close"];
        close = Number(close).toFixed(2);
        html += close;
        html += "</td></tr>";

        html += "<tr><th>Change (Change Percent)</th><td id='change'>";
        var change = 0;
        if(close > previous_close){
            change = close - previous_close;
            var percent = 100 * change / previous_close;
            html += change.toFixed(2);
            html += " (" + percent.toFixed(2) + "%)";
            html += "<img src=\"http://cs-server.usc.edu:45678/hw/hw6/images/Green_Arrow_Up.png\" height=18 width=18/>";
        }else {
            change = previous_close - close;
            var percent = 100 * change / previous_close;
            html += change.toFixed(2);
            html += " (" + percent.toFixed(2) + "%)";
            html += "<img src=\"http://cs-server.usc.edu:45678/hw/hw6/images/Red_Arrow_Down.png\" height=18 width=18/>";
        }
        html += "</td></tr>";

        html += "<tr><th>Timestamp</th><td>";
        html += Object.keys(obj1)[0] + " " + "16:00:00 EDT";
        html += "</td></tr>";

        html += "<tr><th>Open</th><td>";
        html += Number(recentDay["1. open"]).toFixed(2);
        html += "</td></tr>";

        html += "<tr><th>Close</th><td>";
        html += previous_close;
        html += "</td></tr>";

        html += "<tr><th>Day's Range</th><td>";
        var low = recentDay["3. low"];
        low = Number(low).toFixed(2);
        var high = recentDay["2. high"];
        high = Number(high).toFixed(2);
        html += low + " - " + high;
        html += "</td></tr>";

        html += "<tr><th>volume</th><td id='volume'>";
        html += formatNumber(Number(recentDay["5. volume"]));
        html += "</td></tr>";

        $("#stock_table").html(html);
    }

    function draw(data, symbol) {
        var inputDatePrice = Date.now() - 24 * 3600000 * 99;

        var obj1 = data['Time Series (Daily)'];
        var closeArray = [];
        var volumeArray = [];
        for(var i = 0; i < 100; i++){
            closeArray.push(getAttributeByIndex(obj1,i)['4. close']);
            volumeArray.push(Number(getAttributeByIndex(obj1,i)['5. volume'])/1000000);
        }

        closeArray = closeArray.map(Number);
        volumeArray = volumeArray.map(Number);
        closeArray.reverse();
        volumeArray.reverse();

        Highcharts.chart('cs_right_chart', {

            chart: {
                borderColor: '#d8d8d8',
                borderWidth: 1
            },
            title: {
                text: symbol + " Stock Price and Volume"
            },
            subtitle: {
                text: '<a href="https://www.alphavantage.co/" style="color: blue">Source: Alpha Vantag</a>'
            },
            tooltip:{
                valueDecimals: 2,
                xDateFormat: '%m/%d'
            },
            xAxis : [{
                type: 'datetime',
                labels: {
                    format: '{value:%m/%d}'
                }
            }],
            yAxis: [{
                title: {
                    text: 'Stock Price'
                },

                tickInterval: 50
            },{
                labels: {
                    format: '{value}M'
                },
                title: {
                    text: 'Volume'
                },
                opposite: true,
                tickInterval: 20
            }],
            series: [{
                type: 'area',
                name: 'Price',
                pointInterval: 24 * 3600000,
                lineColor: 'blue',
                marker: {
                    enabled: false,
                    fillColor: 'blue'
                },
                pointStart: inputDatePrice,
                    data: closeArray
            }, {
                type: 'column',
                yAxis: 1,
                name: 'Volume',
                color: 'red',
                pointInterval: 24 * 3600000,
                pointStart: inputDatePrice,
                data: volumeArray,
                tooltip: {
                    valueSuffix: 'M'
                }
            }]
        });
    }
    function showGraph(symbol) {
        var url = url_stock + symbol+ myAPI_stock;
        $.ajax({
            'url': url,
            'type': "GET",
            'success': function(data) {
                draw(data,symbol);
            }
        });
    }
    function showGraph1(symbol, indicator) {
        var url = "https://www.alphavantage.co/query?function=";
        url += indicator;
        url += "&symbol=" + symbol;
        url += "&interval=daily&time_period=10&series_type=open" + myAPI_stock;

        $.ajax({
            'url': url,
            'type': "GET",
            'success': function(data) {
                draw1(data,symbol,indicator);
            }
        });
    }
    function showGraph2(symbol, indicator) {
        var url = "https://www.alphavantage.co/query?function=";
        url += indicator;
        url += "&symbol=" + symbol;
        url += "&interval=daily&time_period=10&series_type=open" + myAPI_stock;

        $.ajax({
            'url': url,
            'type': "GET",
            'success': function(data) {
                draw2(data,symbol,indicator);
            }
        });
    }
    function showGraph3(symbol, indicator) {
        var url = "https://www.alphavantage.co/query?function=";
        url += indicator;
        url += "&symbol=" + symbol;
        url += "&interval=daily&time_period=10&series_type=open" + myAPI_stock;

        $.ajax({
            'url': url,
            'type': "GET",
            'success': function(data) {
                draw3(data,symbol,indicator);
            }
        });
    }
    function draw1(data, symbol, indicator) {
        var obj0 = data["Meta Data"];
        var indi = "Technical Analysis: " + indicator;
        var obj1 = data[indi];

        var indicatorData = [];
        for(var i = 0; i < 180; i++){
            indicatorData.push(getAttributeByIndex(obj1, i)[indicator]);
        }
        indicatorData = indicatorData.map(Number);
        indicatorData.reverse();

        Highcharts.chart('cs_right_chart', {

            chart: {
                borderColor: '#d8d8d8',
                borderWidth: 1,
                type: 'line'
            },
            title: {
                text: obj0["2: Indicator"]
            },
            subtitle: {
                text: '<a href="https://www.alphavantage.co/" style="color: blue">Source: Alpha Vantag</a>'
            },
            yAxis: {
                title: {
                    text: indicator
                }
            },
            tooltip:{
                xDateFormat: '%m/%d'
            },
            xAxis : {
                type: 'datetime',
                tickInterval: 24 * 3600000 * 7,
                labels: {
                    format: '{value:%m/%d}'
                }
                //minRange: 99 * 24 * 3600000 // fourteen days
            },
            series: [{
                name: symbol,
                marker: {
                    radius: 3,
                    enabled: true
                },
                color: 'red',
                pointInterval: 24 * 3600000,
                pointStart: inputDate,
                data: indicatorData
            }]
        });
    }
    function draw2(data, symbol, indicator) {
        var obj0 = data["Meta Data"];
        var indi = "Technical Analysis: " + indicator;
        var obj1 = data[indi];

        var indicatorDataD = [];
        var indicatorDataK = [];
        for(var i = 0; i < 180; i++){
            indicatorDataD.push(getAttributeByIndex(obj1, i)["SlowD"]);
            indicatorDataK.push(getAttributeByIndex(obj1, i)["SlowK"]);
        }
        indicatorDataD = indicatorDataD.map(Number);
        indicatorDataK = indicatorDataK.map(Number);
        indicatorDataD.reverse();
        indicatorDataK.reverse();

        Highcharts.chart('cs_right_chart', {
            chart: {
                borderColor: '#d8d8d8',
                borderWidth: 1,
                type: 'line'
            },
            title: {
                text: obj0["2: Indicator"]
            },
            subtitle: {
                text: '<a href="https://www.alphavantage.co/" style="color: blue">Source: Alpha Vantag</a>'
            },
            yAxis: {
                title: {
                    text: indicator
                }
            },
            tooltip:{
                xDateFormat: '%m/%d'
            },
            xAxis : {
                type: 'datetime',
                tickInterval: 24 * 3600000 * 7,
                labels: {
                    format: '{value:%m/%d}'
                }
                //minRange: 99 * 24 * 3600000 // fourteen days
            },
            series: [{
                name: symbol + ' SlowD',
                marker: {
                    radius: 3,
                    enabled: true
                },
                color: 'red',
                pointInterval: 24 * 3600000,
                pointStart: inputDate,
                data: indicatorDataD
            },{
                name: symbol + ' SlowK',
                marker: {
                    radius: 3,
                    enabled: true
                },
                pointInterval: 24 * 3600000,
                pointStart: inputDate,
                data: indicatorDataK
            }]
        });
    }
    function draw3(data, symbol, indicator) {
        var obj0 = data["Meta Data"];
        var indi = "Technical Analysis: " + indicator;
        var obj1 = data[indi];

        var indicatorData1 = [];
        var indicatorData2 = [];
        var indicatorData3 = [];
        if(indicator === "BBANDS"){
            var indi1 = "Real Upper Band";
            var indi2 = "Real Middle Band";
            var indi3 = "Real Lower Band";
        } else {
            indi1 = "MACD_Signal";
            indi2 = "MACD_Hist";
            indi3 = "MACD";
        }
        for(var i = 0; i < 180; i++){
            indicatorData1.push(getAttributeByIndex(obj1, i)[indi1]);
            indicatorData2.push(getAttributeByIndex(obj1, i)[indi2]);
            indicatorData3.push(getAttributeByIndex(obj1, i)[indi3]);
        }
        indicatorData1 = indicatorData1.map(Number);
        indicatorData2 = indicatorData2.map(Number);
        indicatorData3 = indicatorData3.map(Number);
        indicatorData1.reverse();
        indicatorData2.reverse();
        indicatorData3.reverse();

        Highcharts.chart('cs_right_chart', {

            chart: {
                borderColor: '#d8d8d8',
                borderWidth: 1,
                type: 'line'
            },
            title: {
                text: obj0["2: Indicator"]
            },
            subtitle: {
                text: '<a href="https://www.alphavantage.co/" style="color: blue">Source: Alpha Vantag</a>'
            },
            yAxis: {
                title: {
                    text: indicator
                }
            },
            tooltip:{
                xDateFormat: '%m/%d'
            },
            xAxis : {
                type: 'datetime',
                tickInterval: 24 * 3600000 * 7,
                labels: {
                    format: '{value:%m/%d}'
                }
                //minRange: 99 * 24 * 3600000 // fourteen days
            },
            series: [{
                name: symbol + ' ' + indi1,
                marker: {
                    radius: 3,
                    enabled: true
                },
                color: 'red',
                pointInterval: 24 * 3600000,
                pointStart: inputDate,
                data: indicatorData1
            },{
                name: symbol + ' ' + indi2,
                marker: {
                    radius: 3,
                    enabled: true
                },
                pointInterval: 24 * 3600000,
                pointStart: inputDate,
                data: indicatorData2
            },{
                name: symbol + ' ' + indi1,
                marker: {
                    radius: 3,
                    enabled: true
                },
                pointInterval: 24 * 3600000,
                pointStart: inputDate,
                data: indicatorData3
            }]
        });
    }

//    function showStock() {
//        var html = "<div id=\"cs_left\" class=\"pull-left\">";
//        html += "<p id=\"left_title\">Stock Details";
//        html += "<button class=\"btn btn-default\" id=\"star\">";
//        html += "<i class=\"fa fa-star-o\" id=\"fa_icon\" style=\"font-size:20px\"></i></button>";
//        html += "<button class=\"btn btn-default\" id=\"fb\">";
//        html += "<img src=\"http://cs-server.usc.edu:45678/hw/hw8/images/facebook.png\" height=\"25\" width=\"25\"/></button></p>";
//        html += "<div id=\"stock_table\"></div></div>";
//        html += "<div id=\"cs_right\" class=\"pull-right\"></div>";
//        html += "<div id=\"cs_right_chart\" class=\"pull-right\"></div>";
//        $("#cur_stock").html(html);
//        clickStar();
//    }
    function showStockChart(symbol) {
        $.getJSON('https://www.highcharts.com/samples/data/jsonp.php?filename='+symbol+'-c.json&callback=?', function (data) {
            Highcharts.stockChart('cur_stock2', {
                rangeSelector: {
                    selected: 1
                },
                title: {
                    text: symbol + ' Stock Value'
                },
                tooltip: {
                    crosshairs: [false,false],
                    split: false
                },
                series: [{
                    name: symbol,
                    data: data,
                    type: 'area',
                    threshold: null,
                    tooltip: {
                        valueDecimals: 2
                    }
                }]
            });
        });
    }
    function showFeeds(symbol) {
        var xmlURL = "https://seekingalpha.com/api/sa/combined/" + symbol +".xml";
//        var xhttp = new XMLHttpRequest();
//        xhttp.open("GET", xmlURL);
//
//        xhttp.onreadystatechange = function() {
//            if (this.readyState == 4 && this.status == 200) {
//                var xmlDoc = this.responseText;
//                alert(xmlDoc);
//            }
//        };
//        xhttp.send();


        $.ajax({
            type: "get",
            url: xmlURL,
            //dataType: "jsonp",
            //contentType: "application/javascript",
//            data:{
//              "appid":"b1b15e88fa797225412429c1c50c122a1"
//            },
            success: function(data) {
                var xmlDoc = $.parseXML( data );
                $("#cur_stock").html(xmlDoc);
            },
            error: function(xhr, status) {
                alert(JSON.stringify(xhr));
            }
        });

//        $.getJSON("https://seekingalpha.com/api/sa/combined/" + symbol + '.json?callback=?', {format: "json"}, function(json) {
//                $("#cur_stock").html(JSON.stringify(json));
//
//        });
        $("#cur_stock").html("sss");
    }
    
    function getAttributeByIndex(obj, index){
        var i = 0;
        for (var attr in obj){
            if (index === i){
                return obj[attr];
            }
            i++;
        }
        return null;
    }
    function formatNumber (num) {
        return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")
    }
    var app = angular.module("myapp",[]);
    app.controller("usercontroller", function($scope){
        $scope.symbolList = [];

        $scope.$watch('symbol', function() {
            var url_auto = "http://dev.markitondemand.com/MODApis/Api/v2/Lookup/jsonp?input=" + $scope.symbol;
            $.ajax({
                'url': url_auto,
                'type': "GET",
                crossDomain: true,
                dataType: 'jsonp',
                'success': function(data) {
                    $scope.symbolList = [];
                    for(var i = 0; i < data.length; i++){
                        var str = JSON.stringify(data[i]["Symbol"]) + " - " + JSON.stringify(data[i]["Name"]) + " (" + JSON.stringify(data[i]["Exchange"]) + ")";
                        str = str.split('"').join('');
                        $scope.symbolList.push(str);
                    }
                }
            });
        });
        $scope.$watch('symbol', function() {
            $scope.complete = function(string){
                $scope.hidethis = false;
                var output = [];
                angular.forEach($scope.symbolList, function(symbol){
                    if(symbol.toLowerCase().indexOf(string.toLowerCase()) >= 0)
                    {
                        output.push(symbol);
                    }
                });
                $scope.filterSymbol = output;
            };
            $scope.fillTextbox = function(string){
                //$scope.symbol = string;
                $scope.hidethis = true;
            };
        });

    });



    //    angular.module('plunker', ['ui.bootstrap']);
//    function TypeaheadCtrl($scope) {
//        $scope.stock = [{"Symbol":"AAPL","Name":"Apple Inc","Exchange":"NASDAQ"},{"Symbol":"APLE","Name":"","Exchange":"NYSE"},{"Symbol":"APLE","Name":"Apple Hospitality REIT Inc","Exchange":"BATS Trading Inc"},{"Symbol":"VXAPL","Name":"CBOE Apple VIX Index","Exchange":"Market Data Express"}]
//
//    }


//    myForm.submit(function () {
//        alert(symbol);
//
//        $.ajax({
//            type: myForm.attr('method'),
//            url: ,
//            data: frm.serialize(),
//            success: function (data) {
//                console.log('Submission was successful.');
//                console.log(data);
//            },
//            error: function (data) {
//                console.log('An error occurred.');
//                console.log(data);
//            }
//        });
//    });

//    if($("#symbol").attr("class").includes("ng-touched") && $("#symbol").attr("class").includes("ng-empty")){
//        $("#symbol").css("border","2px solid red");
//    }

//    var myApp = angular.module('myApp', []);
////    myApp.controller("myCtrl", ["$scope", function($scope) {
////
////    }]);
//    myApp.controller("myCtrl", function ($scope) {
//
//        $scope.clearSearch = function () {
//            $scope.symbol = "";
//        };
//    });
</script>

</html>
